name: Hello World

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  github_token: ${{ secrets.GITHUB_TOKEN }}
  PR_Number: ${{ github.event.pull_request.number }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: Punith0480/helloworld-custom-action-main@main
      with:
        commit-count: '5'
        LabelName: 'LargePRs'
        Comments: 'The PR should have less than 10 commits'
        github_token: ${{ env.github_token }}
        PR_Number: "${{ env.PR_Number }}"
      
            
