name: Labeler

on:
  push:
    branches: [main]
  pull_request:
    branches: 
      - main
      - PR_Test      
      - PR_test4
env:
  
  PR_Number: ${{ github.event.pull_request.number }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps: 
    - uses: Punith0480/helloworld-custom-action-main@main
      with:
        commit-count: '5'
        LabelName: 'LargePR'
        Comment: 'The PR should have less than 10 commits'
        github_token: '${{ secrets.GITHUB_TOKEN }}'
        PR_Number: "${{ env.PR_Number }}"
        GitHubRepository: "${{ github.repository }}"

       
  
    
      
            
